<script>
    logVerify();
</script>
{{>content-wrapper-start}}
<!-- Main Content -->
<div class="content h-100">
    {{>navtop}}
    {{>agentComment}}
    <div class="container-fluid widther">
        <center>
            <h5 class="h5 text-secondary"><b>Viaje en proceso</b></h5>
        </center>
        <h6 style="h6 mt-1"><b>Detalles del viaje</b></h6>
        {{#if actualTrip}}
        <div class="row" style="font-size: small;">
            <div style="width: 100%;">
                <div class="card shadow-lg mb-2 p-0">
                    <div class="card-body">
                        <div class="row">
                            <div class="col col-sm">
                                <p><i class="fa fa-hashtag"></i> <b>Código:</b> {{actualTrip.tripId}}</p>
                                <p><i class="fa fa-calendar"></i> <b>Fecha:</b> {{actualTrip.tripDate}}</p>
                                <p><i class="fa fa-building"></i> <b>Empresa:</b> {{actualTrip.companyName}}</p>
                            </div>
                            <div class="col col-sm">
                                <p><i class="fa fa-suitcase-rolling"></i> <b>Tipo:</b> {{actualTrip.tripType}}</p>
                                <p><i class="fa fa-clock"></i> <b>Hora:</b> {{actualTrip.tripHour}}</p>
                                <p><i class="fa fa-users"></i> <b>Agentes:</b> {{actualTrip.totalAgents}}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {{/if}}

        <!-- Page Heading -->
        <h6 class="h6 mt-3"><b>Agentes agregados</b></h6>
        <p style="font-size: small;"><b>Nota:</b> Debe marcar el abordaje al momento en que el agente ingrese a la
            unidad, en caso de no abordar, solo debe llenar la observación.</p>
        {{#if agentsInTrip}}
        {{#each agentsInTrip}}
        <div class="row mb-3" style="font-size: small;">
            <div id="accordion" style="width: 100%;">
                <div class="card shadow-lg">
                    <div class="m-2 text-left">
                        <input type="checkbox" id="agentCheckAboard{{agentId}}"
                            onclick="checkIn({{agentId}}, {{tripId}})"> Abordo
                        <script>
                            isChecked(`agentCheckAboard{{agentId}}`, `{{traveled}}`);
                        </script>
                    </div>
                    <div class="card-header bg-white" id="heading{{agentId}}" class="btn btn-link"
                        data-toggle="collapse" data-target="#collapse{{agentId}}" aria-expanded="false"
                        aria-controls="collapse{{agentId}}">
                        <p><i class="fa fa-building"></i> <b>Empresa:</b> {{companyName}}</p>
                        <p><i class="fa fa-user"></i> <b>Nombre:</b> {{agentFullname}}</p>
                        <p><i class="fa fa-phone"></i> <b>Teléfono:</b> {{agentPhone}} &emsp;<i class="fa fa-clock"></i>
                            <b>{{timeName}}</b> {{hourIn}}</p>
                    </div>
                    <div id="collapse{{agentId}}" class="collapse bg-light" aria-labelledby="heading{{agentId}}"
                        data-parent="#accordion">
                        <div class="card-body bg-light">
                            <i class="fa fa-map-marker-alt"></i> <b>Dirección:</b> {{agentReferencePoint}},
                            {{neighborhoodName}},
                            {{townName}}
                        </div>
                        <center>
                            <div class="form-group text-center" style="font-size: small; width: 40%;">
                                <label for="tripHour">Hora de encuentro:</label>
                                <input class="form-control" type="time" name="tripHour" id="timeToAboard{{agentId}}"
                                    disabled value="{{hourForTrip}}">
                            </div>
                            <button class="m-2 btn btn-sm btn-success" data-toggle="modal" data-target="#agentComentary"
                                onclick="loadComment({{agentId}}, '{{agentFullname}}', {{tripId}}, '{{commentDriver}}');">Observación</button>
                        </center>
                    </div>
                </div>
            </div>
        </div>
        {{/each}}
        <center>
            {{#if actualTrip}}
            <button class="btn btn-sm btn-success m-2 p-2" onclick="markAsEnded({{actualTrip.tripId}})">Marcar como
                finalizado</button>
            <button class="btn btn-sm btn-danger m-2 p-2" onclick="markAsCanceled({{actualTrip.tripId}})">Marcar como
                cancelado</button>
            {{/if}}
        </center>
        {{else}}
        <div class="row mb-3">
            <div id="accordion" style="width:100%;">
                <div class="card">
                    <div class="card-header">
                        <h6>No hay agentes asignados a este viaje</h6>
                    </div>
                </div>
            </div>
        </div>
        {{/if}}
    </div>
    <!-- /.container-fluid -->
</div>
<!-- End of Main Content -->

{{>footer}}

<!-- end of main content -->
{{>content-wrapper-end}}